/* BEG @media print */
@media print{
/* BEG @page  */
@page {
  size: A7;
  margin: 10mm 10mm;
  marks: crop;
/*
  @footnote {
    margin: 0.6em 0 0 0;
    padding: 0.3em 0 0 0;
    max-height: 10em;
  }
*/
}
/* END @page  */
@page cover {
  @top-center{
    content: none;
   }
}
/* BEG @page :left  */
@page :left {
    
  margin: 10mm 10mm 10mm 10mm;
    
@top-left-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
    
}
@top-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
@top-center {
        content: "יהוה אבינו";
    font-size: 38pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-top: 15px;
    letter-spacing: -2px;
    min-width   200px;
    background: none;
    text-align: center;
}
@top-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
@top-right-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
@left-top {
        content: "";
    font-size: 8pt;
    background: none;
}
@left-middle {
    content: string(title);
    font-size: 18pt;
    transform: rotate(270deg);
    width: 50mm;
    height: 10mm;
    margin-left: -20mm;
    background-color:#d7d7d7;
    }    
@left-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
@right-top {
        content: "";
    font-size: 8pt;
}
@right-middle {
        content: "רוח הקודש";
    font-size: 34pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
    letter-spacing: -2px;
    transform: rotate(90deg);
    background: none;
    text-align: center;
    margin-left: -90px;
    width: 202px;
    padding-right: 12px;
}
@right-bottom {
        content: "";
    font-size: 8pt;
    background: none;
            width: 0px;
}
@bottom-left-corner {
    content: counter(page);
    font-size: 12pt;
    background: none;
    text-align: left;
    padding-left: 10px;
}
@bottom-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
@bottom-center {
        content: "ישוע הדבר";
    font-size: 39pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-bottom: 23px;
      letter-spacing: -2px;
    background: none;
}
@bottom-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
@bottom-right-corner {
    /*
    content: counter(page);
    font-size: 12pt;
    background: none;
    text-align: right;
    padding-right: 10px;
    */
}
}
/* END @page :left  */
/* BEG @page :right  */
@page :right {
    
  margin: 10mm 10mm 10mm 10mm;
    
@top-left-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
@top-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
@top-center {
        content: "יהוה אבינו";
    font-size: 38pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-top: 15px;
    letter-spacing: -2px;
    min-width   200px;
    background: none;
    text-align: center;
}
@top-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
@top-right-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
@left-top {
        content: "";
    font-size: 8pt;
    background: none;
}
@left-middle {
        content: "רוח הקודש";
    font-size: 34pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
    letter-spacing: -2px;
    transform: rotate(270deg);
    background: none;
    text-align: center;
    margin-left: -68px;
    width: 190px;
}
@left-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
@right-top {
        content: "";
    font-size: 8pt;
    background: none;
}
@right-middle {
        content: string(title);
    font-size: 18pt;
      transform: rotate(90deg);
    width: 50mm;
    height: 10mm;
    margin-left: -20mm;
        background-color:#d7d7d7;
}
@right-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
@bottom-left-corner {
    /*
    content: counter(page);
    font-size: 12pt;
    background: none;
    text-align: left;
    padding-left: 10px;
    */
}
@bottom-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
@bottom-center {
        content: "ישוע הדבר";
    font-size: 39pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-bottom: 23px;
      letter-spacing: -2px;
    background: none;
}
@bottom-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
@bottom-right-corner {
    content: counter(page);
    font-size: 12pt;
    background: none;
    text-align: right;
    padding-right: 10px;
}
} /* END @page :right  */
/* ////////////////////////// */
/* BEG @page :first  Dedication */
/* ////////////////////////// */
@page :first {
    
  margin: 10mm 10mm 10mm 10mm;

/* done */ @top-left-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @top-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-center {
        content: "יהוה אבינו";
    font-size: 38pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-top: 15px;
    letter-spacing: -2px;
    min-width   200px;
    background: none;
    text-align: center;
}
/* done */ @top-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-right-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @left-top {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @left-middle {
    /*
        content: "רוח הקודש";
    font-size: 34pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
    letter-spacing: -2px;
    transform: rotate(270deg);
    background: none;
    text-align: center;
    margin-left: -65px;
    */
}
/* done */ @left-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @right-top {
        content: "";
    font-size: 8pt;
    background: none;
        width: 0px;

}
/* done */ @right-middle {
        content: "Yehováh our Father . Yeshúa The Word . The Holy Spirit";
font-size: 11pt;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    transform: rotate(90deg);
    background: none;
    width: 298px;
    margin-top: -4px;
    margin-left: -134px;
    text-align: center;
}
/* done */ @right-bottom {
        content: "";
    font-size: 8pt;
    background: none;
            width: 0px;

}
/* done */ @bottom-left-corner {
    content: url("");
  padding-bottom: 12px;
    padding-left: 14px;
    filter: opacity(80%);
    background: none;
}
/* done */ @bottom-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-center {
        content: "ישוע הדבר";
    font-size: 39pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-bottom: 23px;
      letter-spacing: -2px;
    background: none;
}
/* done */ @bottom-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-right-corner {
    content: url("");
  padding-bottom: 12px;
    filter: opacity(80%);
    background: none;
}
}
/* ////////////////////////// */
/* END @page :first  Dedication  */
/* ////////////////////////// */
/* ////////////////////////// */
/* BEG @page :nth(2) Shma Hebrew - Translit - English */
/* ////////////////////////// */
@page :nth(2) {
    
  margin: 10mm 10mm 10mm 10mm;

/* done */ @top-left-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @top-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-center {
        content: "יהוה אבינו";
    font-size: 38pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-top: 15px;
    letter-spacing: -2px;
    min-width   200px;
    background: none;
    text-align: center;
}
/* done */ @top-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-right-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @left-top {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @left-middle {
    
    /* this is correct to put it on the left side of the right page */
    /*
        content: "רוח הקודש";
    font-size: 34pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
    letter-spacing: -2px;
    transform: rotate(270deg);
    background: none;
    text-align: center;
    margin-left: -65px;
    */
            content: "Yehováh our Father . Yeshúa The Word . The Holy Spirit";
font-size: 11pt;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    transform: rotate(270deg);
    background: none;
    width: 298px;
    margin-top: -4px;
    margin-left: -128px;
    text-align: center;
    
}
/* done */ @left-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @right-top {
        content: "";
    font-size: 8pt;
    background: none;
        width: 0px;

}
/* done */ @right-middle {
    
}
/* done */ @right-bottom {
        content: "";
    font-size: 8pt;
    background: none;
            width: 0px;

}
/* done */ @bottom-left-corner {
    content: url("");
  padding-bottom: 12px;
    padding-left: 14px;
    filter: opacity(80%);
    background: none;
}
/* done */ @bottom-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-center {
        content: "ישוע הדבר";
    font-size: 39pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-bottom: 23px;
      letter-spacing: -2px;
    background: none;
}
/* done */ @bottom-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-right-corner {
    content: url("");
  padding-bottom: 12px;
    filter: opacity(80%);
    background: none;
}
}
/* ////////////////////////// */
/* END @page :nth(2) Shma Hebrew - Translit - English  */
/* ////////////////////////// */
/* ////////////////////////// */
/* BEG @page :nth(3) For there are three */
/* ////////////////////////// */
@page :nth(3) {
    
  margin: 10mm 10mm 10mm 10mm;

/* done */ @top-left-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @top-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-center {
        content: "יהוה אבינו";
    font-size: 38pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-top: 15px;
    letter-spacing: -2px;
    min-width   200px;
    background: none;
    text-align: center;
}
/* done */ @top-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-right-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @left-top {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @left-middle {
    /*
        content: "רוח הקודש";
    font-size: 34pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
    letter-spacing: -2px;
    transform: rotate(270deg);
    background: none;
    text-align: center;
    margin-left: -65px;
    */
}
/* done */ @left-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @right-top {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @right-middle {
        content: "Yehováh our Father . Yeshúa The Word . The Holy Spirit";
font-size: 11pt;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    transform: rotate(90deg);
    background: none;
    width: 298px;
    margin-top: -4px;
    margin-left: -134px;
    text-align: center;
}
/* done */ @right-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @bottom-left-corner {
    content: url("");
  padding-bottom: 12px;
    padding-left: 14px;
    filter: opacity(80%);
    background: none;
}
/* done */ @bottom-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-center {
        content: "ישוע הדבר";
    font-size: 39pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-bottom: 23px;
      letter-spacing: -2px;
    background: none;
}
/* done */ @bottom-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-right-corner {
    content: url("");
  padding-bottom: 12px;
    filter: opacity(80%);
    background: none;
}
}
/* ////////////////////////// */
/* END @page :nth(3) For there are three */
/* ////////////////////////// */
/* ////////////////////////// */
/* BEG @page :nth(4) lo tikom ve lo tittor */
/* ////////////////////////// */
@page :nth(4) {
    
  margin: 10mm 10mm 10mm 10mm;

/* done */ @top-left-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @top-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-center {
        content: "יהוה אבינו";
    font-size: 38pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-top: 15px;
    letter-spacing: -2px;
    min-width   200px;
    background: none;
    text-align: center;
}
/* done */ @top-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-right-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @left-top {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @left-middle {
            content: "Yehováh our Father . Yeshúa The Word . The Holy Spirit";
font-size: 11pt;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    transform: rotate(270deg);
    background: none;
    width: 298px;
    margin-top: -4px;
    margin-left: -128px;
    text-align: center;
}
/* done */ @left-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @right-top {
        content: "";
    font-size: 8pt;
    background: none;
        width: 0px;

}
/* done */ @right-middle {
    /*
        content: "רוח הקודש";
    font-size: 34pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
    letter-spacing: -2px;
    transform: rotate(90deg);
    background: none;
    text-align: center;
    margin-left: -90px;
    */
}
/* done */ @right-bottom {
        content: "";
    font-size: 8pt;
    background: none;
            width: 0px;

}
/* done */ @bottom-left-corner {
    content: url("");
  padding-bottom: 12px;
    padding-left: 14px;
    filter: opacity(80%);
    background: none;
}
/* done */ @bottom-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-center {
        content: "ישוע הדבר";
    font-size: 39pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-bottom: 23px;
      letter-spacing: -2px;
    background: none;
}
/* done */ @bottom-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-right-corner {
    content: url("");
  padding-bottom: 12px;
    filter: opacity(80%);
    background: none;
}
}
/* ////////////////////////// */
/* END @page :nth(4) lo tikom ve lo tittor  */
/* ////////////////////////// */
/* ////////////////////////// */
/* BEG @page :nth(5)  ve ahavta lereacha kamocha */
/* ////////////////////////// */
@page :nth(5) {
    
  margin: 10mm 10mm 10mm 10mm;

/* done */ @top-left-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @top-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-center {
        content: "יהוה אבינו";
    font-size: 38pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-top: 15px;
    letter-spacing: -2px;
    min-width   200px;
    background: none;
    text-align: center;
}
/* done */ @top-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-right-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @left-top {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @left-middle {
    /*
        content: "רוח הקודש";
    font-size: 34pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
    letter-spacing: -2px;
    transform: rotate(270deg);
    background: none;
    text-align: center;
    margin-left: -65px;
    */
}
/* done */ @left-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @right-top {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @right-middle {
        content: "Yehováh our Father . Yeshúa The Word . The Holy Spirit";
font-size: 11pt;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    transform: rotate(90deg);
    background: none;
    width: 298px;
    margin-top: -4px;
    margin-left: -134px;
    text-align: center;
}
/* done */ @right-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @bottom-left-corner {
    content: url("");
  padding-bottom: 12px;
    padding-left: 14px;
    filter: opacity(80%);
    background: none;
}
/* done */ @bottom-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-center {
        content: "ישוע הדבר";
    font-size: 39pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-bottom: 23px;
      letter-spacing: -2px;
    background: none;
}
/* done */ @bottom-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-right-corner {
    content: url("");
  padding-bottom: 12px;
    filter: opacity(80%);
    background: none;
}
}
/* ////////////////////////// */
/* END @page :nth(5)  ve ahavta lereacha kamocha  */
/* ////////////////////////// */
/* ////////////////////////// */
/* BEG @page :nth(6) If ye continue */
/* ////////////////////////// */
@page :nth(6) {
    
  margin: 10mm 10mm 10mm 10mm;

/* done */ @top-left-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @top-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-center {
        content: "יהוה אבינו";
    font-size: 38pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-top: 15px;
    letter-spacing: -2px;
    min-width   200px;
    background: none;
    text-align: center;
}
/* done */ @top-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-right-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @left-top {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @left-middle {
            content: "Yehováh our Father . Yeshúa The Word . The Holy Spirit";
font-size: 11pt;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    transform: rotate(270deg);
    background: none;
    width: 298px;
    margin-top: -4px;
    margin-left: -128px;
    text-align: center;
}
/* done */ @left-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @right-top {
        content: "";
    font-size: 8pt;
    background: none;
        width: 0px;

}
/* done */ @right-middle {
    /*
        content: "רוח הקודש";
    font-size: 34pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
    letter-spacing: -2px;
    transform: rotate(90deg);
    background: none;
    text-align: center;
    margin-left: -90px;
    */
}
/* done */ @right-bottom {
        content: "";
    font-size: 8pt;
    background: none;
            width: 0px;

}
/* done */ @bottom-left-corner {
    content: url("");
  padding-bottom: 12px;
    padding-left: 14px;
    filter: opacity(80%);
    background: none;
}
/* done */ @bottom-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-center {
        content: "ישוע הדבר";
    font-size: 39pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-bottom: 23px;
      letter-spacing: -2px;
    background: none;
}
/* done */ @bottom-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-right-corner {
    content: url("");
  padding-bottom: 12px;
    filter: opacity(80%);
    background: none;
}
}
/* ////////////////////////// */
/* END @page :nth(6) If ye continue  */
/* ////////////////////////// */
/* ////////////////////////// */
/* BEG @page :nth(7)  TOC */
/* ////////////////////////// */
@page :nth(7) {
    
  margin: 10mm 10mm 10mm 10mm;

/* done */ @top-left-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @top-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-center {
        content: "יהוה אבינו";
    font-size: 38pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-top: 15px;
    letter-spacing: -2px;
    min-width   200px;
    background: none;
    text-align: center;
}
/* done */ @top-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @top-right-corner {
    /*content: url("Menorah-Silver-24x24.png");*/
  padding-top: 26px;
    filter: opacity(80%);
    background: none;
}
/* done */ @left-top {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @left-middle {
    /*
        content: "רוח הקודש";
    font-size: 34pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
    letter-spacing: -2px;
    transform: rotate(270deg);
    background: none;
    text-align: center;
    margin-left: -65px;
    */
}
/* done */ @left-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @right-top {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @right-middle {
        content: "Behold, I come quickly";
    font-size: 26pt;
      transform: rotate(90deg);
    width: 90mm;
    height: 10mm;
    margin-left: -43mm;
    background: none;
    color: #888888;
}
/* done */ @right-bottom {
        content: "";
    font-size: 8pt;
    background: none;
}
/* done */ @bottom-left-corner {
    content: url("");
  padding-bottom: 12px;
    padding-left: 14px;
    filter: opacity(80%);
    background: none;
}
/* done */ @bottom-left {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-center {
        content: "ישוע הדבר";
    font-size: 39pt;
    font-family: "David Libre";
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
      padding-bottom: 23px;
      letter-spacing: -2px;
    background: none;
}
/* done */ @bottom-right {
        content: "";
    font-size: 8pt;
    background: none;
    width:   0px;
}
/* done */ @bottom-right-corner {
    content: url("");
  padding-bottom: 12px;
    filter: opacity(80%);
    background: none;
}
}
/* ////////////////////////// */
/* END @page :nth(7)  TOC  */
/* ////////////////////////// */


} /* END @media print */

/************/
/* BEG custom style */
/************/

section {
  break-after: always;
}
body {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
padding: 0;
margin: 0;
text-align: justify;
}
header + p:first-line {
text-transform: lowercase !important;
font-variant: small-caps;
font-size: 1.1em;
}

p + p {
text-indent: 1.33em;
}

.decoration-rw {
text-align: center;
padding-top: 1em;
padding-bottom: 1em;
padding-left: 0em;
padding-right: 0em;
}

.copyright-rw {
font-size: .8em;
line-height: 1em;
text-align: left;
padding-top: 2em;
}

.copyright-rw p {
margin-bottom: 1em;
text-indent: 0;
}

.dedication-rw p {
text-align: center;
text-indent: 0;
}

.Dedication-rw {
margin-top: 3em;
}

.leading-line-rw {
height: 1.33em;
}

.fp-rw {
text-indent: 0;
}

h1 {
font-size: 24pt;
line-height: 1.33em;
text-align: center;
padding-bottom: 0em;
text-align: center;
text-transform: uppercase;
font-weight: normal;
letter-spacing: 4px;
}

h2 {
display: none; visibility: hidden;
string-set: title content(text);
    
text-align: center;
font-size: 16pt;
line-height: 1.2em;
text-align: center;
padding-bottom: 0em;
text-align: center;
text-transform: uppercase;
font-weight: normal;
letter-spacing: 3px;
}

.title-author-rw {
text-align: center;
font-size: 1.5em;
text-indent: 0;
}

.title-num-rw {
text-align: center;
font-size: 1.5em;
text-indent: 0;
margin-top: 1em;
margin-bottom: 1em;
}

.title-sub-rw {
text-align: center;
font-size: 1.5em;
text-indent: 0;
}

.imprint-rw {
text-align: center;
}

.extract-verse-rw {
margin-top: 1.33em;
margin-bottom: 1.33em;
padding-left: 20pt;
}

.extract-rw {
margin-top: 1.33em;
margin-bottom: 1.33em;
padding-left: 20pt;
}

.extract-verse-rw p {
text-align: left;
text-indent: -20pt;
margin-left: 20pt;
}

.epigraph-rw {
margin-top: 1.33em;
margin-bottom: 1.33em;
padding-left: 20pt;
padding-right: 20pt;
}

.sc-rw {
font-size: 75%;
}
.block-rw {
margin-top: 1em;
margin-bottom: 1em;
margin-left: 20pt;
margin-right: 20pt;
}

span.dropcap-rw {
float: left;
font-size: 2.7em;
line-height: .87em;
}

.signature-rw {
margin-left: 50%;
text-align: left;
text-indent: 0;
}

.AdCard-rw h4 {
text-align: center;
}

.AdCard-rw p {
text-align: center;
text-indent: 0;
}

.FrontSales-rw h4, .FrontSales-rw h2 {
text-align: center;
}

.FrontSales-rw p {
text-indent: 0;
}

/* NAVIGATION */

a {
color: black !important;
}

#toc {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
    width: 200px;
    height: 320px;
    margin-top: 0px;
    padding-top: 0px;
   margin-left: 4px;
   margin-right: 4px;
    background: none;
}

#guide {
display: none;
}

header {
}

header a {
text-decoration: none;
color: black;
}

.center {
text-align: center;
text-indent: 0;
}

img {
max-width: 100%;
max-height: 100%;
}

.title-other-rw {
text-align: center;
text-indent: 0;
margin-top: .5em;
}

.dateline-rw {
text-align: left;
text-indent: 0;
margin-top: 1.33em;
margin-bottom: 1.33em;
}

.frontmatter-rw h1 {
font-size: 1.5em;
}

.backmatter-rw h1 {
font-size: 1.5em;
}

   .direction-rw {
   text-align: center;
   text-indent: 0;
   font-style: italic;
   margin: 1em 0 1em 0;
   }

    .source-rw {
margin-bottom: 0em;
text-align: right !important;
font-variant: small-caps;
text-transform: lowercase;
font-size: 1.1em;
page-break-before: avoid;
}

div.block-rw {
border-top: 2px solid #EEE;
border-bottom: 2px solid #EEE;
padding: 6pt 0 6pt 0;
}

.list-simple-rw p {
text-indent: 0;
text-align: left;
}

.headline-rw p {
text-indent: 0;
text-align: center;
padding-top: 6px;
}

div.photo {
margin-top: 1em;
padding-top: 2em;
text-align: center;
}

div.photo p {
text-align: center;
padding: 6px;
font-style: italic;
}

.-epub-media-overlay-active {
    background-color: #abc;
}

@media all and (orientation:portrait) {
p { font-family: serif; }
}

@media all and (orientation:landscape) {
p { font-family: sans-serif; }

}

.Ubuntu-Thin-Topics {
    font-size: 14pt;
    height:16pt;
  text-align: center;
}
.Ubuntu-Thin-Side-Scriptures {

}
.Ubuntu-Thin-Verses {

}
.Ubuntu-Thin-References {

}
.onePerPage {
    page-break-before: always;
    break-before: always;
    background: none;
    width: 200px;
    height: 290px;
    margin-top: 20px;
   margin-left: 4px;
   margin-right: 4px;
      display: table-cell;
  vertical-align: middle;
  text-align: center;
    }
.verse{
  display: flex;
  justify-content: center;
  align-items: center; 
width: 172px; /* this was 180px */
height: 270px;
        margin-top: 20px;
   margin-left: 14px;
   margin-right: 14px;
background: none;
}
.ref{
    font-size: 12pt;
background: none;
}
#dedicationPage{
display: flex;
      display: table-cell;
  vertical-align: middle;
  text-align: center;
    width: 200px;
    height: 320px;
    margin-top: 0px;
    padding-top: 0px;
   margin-left: 4px;
   margin-right: 4px;
    background: ;

}
.HEB{
        font-size: 21pt;
    font-family: "David Libre";
  /*color: #ffffff;*/
  /*text-shadow: 1px 1px 2px #000000;*/
      padding-top: ;
    letter-spacing: ;
    min-width   ;
    background: none;
    text-align: center;   
    line-height: 18pt;
}
.aBitSmallerHEB {
    font-size: 18pt;
    line-height: 18pt;
}
.TRA{
        font-size: 11pt;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 2px;
    letter-spacing: ;
    min-width   ;
    background: none;
    text-align: center;  
}
.aBitSmallerTRA {
    font-size: 10pt;
    line-height: 12pt;
    padding-top: 1px;
}
.ENG{
            font-size: 13.5pt;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
      padding-top: 2px;
    letter-spacing: ;
    min-width   ;
    background: none;
    text-align: center;  
}
.aBitSmallerENG {
    font-size: 12pt;
    line-height: 12pt;
    padding-top: 1px;
}
.SEP{
            font-size: 13.5pt;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
      padding-top: 5px;
    letter-spacing: ;
    min-width   ;
    background: none;
    text-align: center;  
}
#dedication > .HEB {padding-top: 20px;}
#shema > .HEB {padding-top: 20px;}
#thereAreThree {padding-left: 11px}

/************/
/* END custom style */
/************/