<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
    <ul id="menu">
      <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
      <li>Liens</li>
    </ul>

      <div class="print">
        <a href="/arduino_bmp280.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Arduino</p>
      </div>

      <div class="main">
        <div id="onglets">
          <div id="onglet_circuit" onclick="circuitTop()">Circuit</div>
          <div id="onglet_code" onclick="codeTop()">Code Arduino</div>
        </div>
        <h3>BMP280</h3>
        <p class="circuitb">Le capteur BMP280 utilise le protocole I2C pour communiquer avec l'Arduino les valeurs de température, de pression barométrique et d'altitude qu'il mesure. I2C signifie "Inter Integrated Circuit", ce protocole simplifie donc la communication entre deux circuits intégrés (dans notre cas d'un côté l'Arduino, de l'autre le BMP280 qui possède son propre circuit intégré) en utilisant seulement deux lignes pour le transfert&nbsp;: l'une pour les données (SDA), l'autre pour l'horloge de synchronisation (SCK). Nous n'avons pas besoin en l'état d'en savoir plus sur le fonctionnement de ce protocole, mais vous savez ainsi pourquoi nous aurons besoin de deux connexions pour le transfert de données entre l'Arduino et le capteur.</p>
        <div id="schemas">
          <img id="img_ard14" class="scheme" src="{{ url_for('static', filename='bmp280.png') }}" alt="">
        </div>

        <ol>
          <li>Le montage est très simple&nbsp;: reliez la broche VCC du BMP280 au 5V, sa broche GND au GROUND, la broche SDA à la pin A4 de l'Arduino, et la broche SCK à la pin A5. Les pins A4 et A5 de l'Arduino sont en effet celles au travers desquelles peut se mettre en place un bus I2C entre la carte et un autre composant.</li>
        </ol>

        <div id="block_code">
          <p>Code Arduino</p>
          <pre class="code_full">

  <span class="type">#include</span> &lt;Adafruit_Sensor.h&gt;
  <span class="type">#include</span> "Adafruit_BMP280.h"
  <span class="type">#include</span> &lt;Wire.h&gt;
  <span class="type">#include</span> "SPI.h"

  <span class="type">Adafruit_BMP280</span> bmp;

  <span class="type">float</span> pressure;
  <span class="type">float</span> temperature;
  <span class="type">int</span> altimeter;

  <span class="type">void</span> <span class="fonction">setup()</span> {
    bmp.<span class="fonction">begin()</span>;
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
    <span class="type">Serial</span>.<span class="fonction">println</span>("Adafruit BMP280 test:");
  }

  <span class="type">void</span> <span class="fonction">loop()</span> {
    pressure = bmp.<span class="fonction">readPressure()</span>;
    temperature = bmp.<span class="fonction">readTemperature()</span>;
    altimeter = bmp.<span class="fonction">readAltitude(1050.35)</span>;

    <span class="type">Serial</span>.<span class="fonction">print</span>(F("Pressure: "));
    <span class="type">Serial</span>.<span class="fonction">print</span>(pressure);
    <span class="type">Serial</span>.<span class="fonction">print</span>(" Pa");
    <span class="type">Serial</span>.<span class="fonction">print</span>("\t");
    <span class="type">Serial</span>.<span class="fonction">print</span>(("Temp: "));
    <span class="type">Serial</span>.<span class="fonction">print</span>(temperature);
    <span class="type">Serial</span>.<span class="fonction">print</span>(" oC");
    <span class="type">Serial</span>.<span class="fonction">print</span>("\t");
    <span class="type">Serial</span>.<span class="fonction">print</span>("Altimeter: ");
    <span class="type">Serial</span>.<span class="fonction">print</span>(altimeter);
    <span class="type">Serial</span>.<span class="fonction">println</span>(" m");

  </span>delay</span>(5000);
  }

        </pre>
      </div>

      <h4>LE CODE</h4>
        <pre>

  <span class="type">#include</span> &lt;Adafruit_Sensor.h&gt;
  <span class="type">#include</span> "Adafruit_BMP280.h"
  <span class="type">#include</span> &lt;Wire.h&gt;
  <span class="type">#include</span> "SPI.h"

  <span class="type">Adafruit_BMP280</span> bmp;

  <span class="type">float</span> pressure;
  <span class="type">float</span> temperature;
  <span class="type">int</span> altimeter;
        </pre>
        <p>Ce modèle de capteur en particulier est fabriqué par Adafruit, nous devons donc importer <span class="code">Adafruit_Sensor</span> et <span class="code">Adafruit_BMP280</span> pour l'utiliser. Les librairies <span class="code">Wire</span> et <span class="code">SPI</span> faciliteront la communication via le protocole I2C pour l'Arduino.<br/>Nous devons ensuite créer un objet <span class="code">Adafruit_BMP280 bmp</span> pour accéder aux méthodes de la librairie, et nous initialisons déjà les variables qui stockeront les valeurs captées.</p>
        <pre>

  <span class="type">void</span> <span class="fonction">setup()</span> {
    bmp.<span class="fonction">begin()</span>;
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
    <span class="type">Serial</span>.<span class="fonction">println</span>("Adafruit BMP280 test:");
  }
        </pre>
        <p>Dans le <span class="code">setup()</span> nous devons démarrer la capteur à l'aide de la fonction <span class="code">bmp.begin()</span>.</p>
        <pre>

  <span class="type">void</span> <span class="fonction">loop()</span> {
    pressure = bmp.<span class="fonction">readPressure()</span>;
    temperature = bmp.<span class="fonction">readTemperature()</span>;
    altimeter = bmp.<span class="fonction">readAltitude(1050.35)</span>;

    <span class="type">Serial</span>.<span class="fonction">print</span>(F("Pressure: "));
    <span class="type">Serial</span>.<span class="fonction">print</span>(pressure);
    <span class="type">Serial</span>.<span class="fonction">print</span>(" Pa");
    <span class="type">Serial</span>.<span class="fonction">print</span>("\t");
    <span class="type">Serial</span>.<span class="fonction">print</span>(("Temp: "));
    <span class="type">Serial</span>.<span class="fonction">print</span>(temperature);
    <span class="type">Serial</span>.<span class="fonction">print</span>(" oC");
    <span class="type">Serial</span>.<span class="fonction">print</span>("\t");
    <span class="type">Serial</span>.<span class="fonction">print</span>("Altimeter: ");
    <span class="type">Serial</span>.<span class="fonction">print</span>(altimeter);
    <span class="type">Serial</span>.<span class="fonction">println</span>(" m");

  </span>delay</span>(5000);
  }
        </pre>
        <p>La lecture des valeurs est rendue très simple par la librairie. Ainsi pour lire les trois valeurs captées par le BMP280 nous n'avons qu'à faire appel aux fonctions <span class="code">bmp.readPressure()</span>, <span class="code">bmp.readTemperature()</span> et <span class="code">bmp.readAltitude()</span>. Ensuite nous nous contentons d'afficher ces valeurs dans le moniteur série, avec une actualisation toutes les 5000 milli-secondes.</p>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
