<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
    <ul id="menu">
      <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
      <li>Liens</li>
    </ul>

      <div class="print">
        <a href="/arduino_capteur_vibration.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Arduino</p>
      </div>

      <div class="main">
        <div id="onglets">
          <div id="onglet_circuit" onclick="circuitTop()">Circuit</div>
          <div id="onglet_code" onclick="codeTop()">Code Arduino</div>
        </div>
        <h3>Capteur de vibration</h3>
        <p class="circuitb">Un capteur de vibration envoie un signal analogique proportionnel à son état. Nous pouvons donc l'utiliser comme base pour un système d'alarme sommaire&nbsp;: au-delà d'une certaine valeur de vibration, on déclenche un signal sonore.</p>
        <div id="schemas">
          <img id="img_ard08" class="scheme" src="{{ url_for('static', filename='vibration_buzzer.svg') }}" alt="">
        </div>

        <ol>
          <li>Pour ce circuit on branche un piezo buzzer entre la broche digitale 8 de l'Arduino et le GROUND.</li>
          <li>On branche le capteur de vibration entre le 5V et la broche A0.</li>
        </ol>
        <div id="block_code">
          <p>Code Arduino</p>
          <pre class="code_full">

  <span class="type">int</span> buzzer = 8;
  <span class="type">int</span> sensor;

  <span class="type">void</span> <span class="fonction">setup()</span> {
    <span class="type">Serial</span>.begin(9600);
    <span class="fonction">pinMode</span>(buzzer, OUTPUT);
    <span class="fonction">pinMode</span>(sensor, INPUT);
  }

  <span class="type">void</span> <span class="fonction">loop()</span> {
    sensor = <span class="fonction">analogRead</span>(A0);
    <span class="type">if</span>(sensor > 600){
      <span class="fonction">tone</span>(buzzer, sensor);
      <span class="type">Serial</span>.<span class="fonction">print</span>("Sensor Value: ");
      <span class="type">Serial</span>.<span class="fonction">println</span>(sensor);
    } <span class="type">else</span> {
      <span class="fonction">noTone</span>(buzzer);
      <span class="type">Serial</span>.<span class="fonction">print</span>("Sensor Value: ");
      <span class="type">Serial</span>.<span class="fonction">println</span>(sensor);
    }

    <span class="fonction">delay</span>(100);
  }

        </pre>
      </div>

      <h4>LE CODE</h4>
      <pre>

  <span class="type">int</span> buzzer = 8;
  <span class="type">int</span> sensor;

  <span class="type">void</span> <span class="fonction">setup()</span> {
    <span class="type">Serial</span>.begin(9600);
    <span class="fonction">pinMode</span>(buzzer, OUTPUT);
    <span class="fonction">pinMode</span>(sensor, INPUT);
  }
      </pre>
      <p>Nous commençons le script par la déclaration et l'initialisation des pins du piezo et du capteur. Le piezo est un <span class="code">OUTPUT</span>, on lui envoie un signal&nbsp;; le capteur est un <span class="code">INPUT</span>, on lit le signal qu'il nous envoie.</p>
      <pre>

  <span class="type">void</span> <span class="fonction">loop()</span> {
    sensor = <span class="fonction">analogRead</span>(A0);
    <span class="type">if</span>(sensor > 600){
      <span class="fonction">tone</span>(buzzer, sensor);
      <span class="type">Serial</span>.<span class="fonction">print</span>("Sensor Value: ");
      <span class="type">Serial</span>.<span class="fonction">println</span>(sensor);
    } <span class="type">else</span> {
      <span class="fonction">noTone</span>(buzzer);
      <span class="type">Serial</span>.<span class="fonction">print</span>("Sensor Value: ");
      <span class="type">Serial</span>.<span class="fonction">println</span>(sensor);
    }

    <span class="fonction">delay</span>(100);
  }
      </pre>
      <p>Dans la <span class="code">loop()</span> nous lisons en continu la valeur du capteur. Si la vibration qu'il a perçue est forte, il envoie une valeur supérieure à 600 et nous faisons sonner le buzzer. Sinon, aucun son n'est produit.</p>
      <p>Essayez de faire varier la valeur seuil de votre condition pour obtenir une alarme plus ou moins sensible.</p>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
