<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
    <ul id="menu">
      <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
      <li>Liens</li>
    </ul>

      <div class="print">
        <a href="/arduino_clavier_sonore.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Arduino</p>
      </div>

      <div class="main">
        <div id="onglets">
          <div id="onglet_circuit" onclick="circuitTop()">Circuit</div>
          <div id="onglet_code" onclick="codeTop()">Code Arduino</div>
        </div>
        <h3>Clavier sonore</h3>
        <p class="circuitb">Dans ce projet nous allons jouer sur l'un des composants essentiels de l'électronique pour obtenir différents signaux analogiques&nbsp;: la résistance. La résistance est la capacité d'un composant à empêcher le passage du courant à travers lui. Plus celle-ci est élevée moins le courant passe. Nous allons donc jouer sur différentes valeurs de résistances pour laisser passer un courant plus ou moins important vers l'Arduino.</p>
        <div id="schemas">
          <img id="img_ard07" class="scheme" src="{{ url_for('static', filename='clavier.svg') }}" alt="">
        </div>

        <ol>
          <li>Commençons par brancher le piezo buzzer entre la broche digitale 8 de l'Arduino et le GND.</li>
          <li>Le premier interrupteur est directement connecté au 5V et au GND via une résistance de 10k Ω.</li>
          <li>Le deuxième interrupteur est connecté au 5V via une résistance de 220 Ω et au GND via une résistance de 10k Ω.</li>
          <li>Le troisième interrupteur est connecté au 5V via une résistance de 10k Ω et au GND via une résistance de 10k Ω.</li>
          <li>Le quatrième interrupteur est connecté au 5V via une résistance de 1M Ω et au GND via une résistance de 10k Ω.</li>
          <li>Sur la même ligne que celle où se rejoignent les sorties des interrupteurs vers le GROUND, branchez un câble que vous irez connecter à la broche A0 de l'Arduino.</li>
        </ol>

        <div id="block_code">
          <p>Code Arduino</p>
          <pre class="code_full">

  <span class="type">int</span> notes[] = {262,294,330,349};

  <span class="type">void</span> <span class="fonction">setup()</span> {
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
  }

  <span class="type">void</span> <span class="fonction">loop()</span> {
    <span class="type">int</span> keyVal = <span class="fonction">analogRead</span>(A0);
    <span class="type">Serial</span>.<span class="fonction">println</span>(keyVal);

    <span class="type">if</span>(keyVal == 1023) {
      <span class="fonction">tone</span>(8, notes[0]);
    } <span class="type">else if</span>(keyVal >= 990
    && keyVal <= 1010){
      <span class="fonction">tone</span>(8, notes[1]);
    } <span class="type">else if</span>(keyVal >= 505
    && keyVal <= 515){
      <span class="fonction">tone</span>(8, notes[2]);
    } <span class="type">else if</span>(keyVal >= 5
    && keyVal <= 10){
      <span class="fonction">tone</span>(8, notes[3]);
    } <span class="type">else</span> {
      <span class="fonction">noTone</span>(8);
    }
  }

        </pre>
      </div>

      <h4>LE CODE</h4>
      <pre>

  <span class="type">int</span> notes[] = {262,294,330,349};

  <span class="type">void</span> <span class="fonction">setup()</span> {
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
  }
      </pre>
      <p>Au début du script nous créons un tableau <span class="code">notes[]</span> qui contient 4 fréquences correspondant à 4 notes (do, ré, mi, fa, octave 3) que nous jouerons avec le clavier. Puis nous initialisons un moniteur série.</p>
      <pre>

  <span class="type">void</span> <span class="fonction">loop()</span> {
    <span class="type">int</span> keyVal = <span class="fonction">analogRead</span>(A0);
    <span class="type">Serial</span>.<span class="fonction">println</span>(keyVal);

    <span class="type">if</span>(keyVal == 1023) {
      <span class="fonction">tone</span>(8, notes[0]);
    } <span class="type">else if</span>(keyVal >= 990
    && keyVal <= 1010){
      <span class="fonction">tone</span>(8, notes[1]);
    } <span class="type">else if</span>(keyVal >= 505
    && keyVal <= 515){
      <span class="fonction">tone</span>(8, notes[2]);
    } <span class="type">else if</span>(keyVal >= 5
    && keyVal <= 10){
      <span class="fonction">tone</span>(8, notes[3]);
    } <span class="type">else</span> {
      <span class="fonction">noTone</span>(8);
    }
  }
      </pre>
      <p>Nous utilisons dans ce projet une broche analogique pour lire la tension transitant par des composants non-analogiques, les interrupteurs. Selon la valeur de la résistance que nous avons placée en entrée de chaque interrupteur, la tension que laisse passer chaque interrupteur est proportionnelle à cette résistance. Plus la valeur de la résistance est grande, moins la tension qui passera de l'interrupteur à l'Arduino est grande, ce qui nous permet d'établir un ordre de valeurs.</p>
      <p>La logique de notre boucle conditionnelle dans la fonction <span class="code">loop()</span> est donc la suivante&nbsp;: si la valeur lue par A0 est égale à 1023, c'est qu'aucune résistance ne se trouve sur le circuit, donc on est en train de presser le premier interrupteur, et la première note du tableau <span class="code">notes[]</span> est jouée par le piezo. Ensuite les différentes valeurs de résistances entrent en jeu pour obtenir une valeur correspondant à chaque interrupteur. Ainsi la deuxième interrupteur envoie un signal pouvant aller de 990 à 1010, le troisième de 505 à 515, et le dernier de 5 à 10&nbsp;; avec une note différente jouée à chaque cas de figure. Enfin si aucune des valeurs recherchées dans les conditions n'est lue par l'Arduino, on demande au piezo de ne jouer aucune note.</p>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
