<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
      <ul id="menu">
        <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
        <li>Liens</li>

      </ul>

      <div class="print">
        <a href="/cura.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Impression 3D</p>
      </div>

      <div class="main full">
        <h3>Préparer l'impression 3D dans Cura</h3>
        <p class="circuitb large_full">Cura est un slicer, un logiciel qui permet de décomposer un objet à imprimer en 3D en un certain nombre de couches superposées déterminé par différents paramètres.</p>

        <p>La première chose à faire lorsqu'on ouvre Cura est de choisir l'imprimante 3D. Il existe des profils intégrés pour les imprimantes les plus répandues sur le marché, mais si votre machine ne se trouve pas dans la liste vous pouvez créer un profil personnalisé dans lequel vous rentrerez toutes ses fonctionnalités et détails techniques.</p>
        <img class="tuto" src="{{ url_for('static', filename='cura01.png') }}" alt="">

        <p class="large_full">Pour importer votre objet 3D, cliquez sur l'icône de dossier en haut à gauche. Si vous cliquez sur votre objet importé, vous verrez un barre d'outils apparaître à gauche de la fenêtre. Le premier outil permet de déplacer votre objet sur le plateau. Le second permet de redimensionner votre objet, proportionnellement ou non. Le troisième permet de le faire pivoter (cela est particulièrement utile si vous imprimez un objet complexe pour lequel vous avez besoin que les supports soient placés d'une certaine façon), etc.</p>
        <img class="tuto" src="{{ url_for('static', filename='cura02.png') }}" alt="">
        <img class="tuto" src="{{ url_for('static', filename='cura03.png') }}" alt="">
        <img class="tuto" src="{{ url_for('static', filename='cura04.png') }}" alt="">

        <p class="large_full">Si vous souhaitez imprimer votre objet en plusieurs exemplaires, faîtes un clic-droit dessus et sélectionnez «&nbsp;multiplier les objets sélectionnés&nbsp;».</p>
        <img class="tuto" src="{{ url_for('static', filename='cura05.png') }}" alt="">

        <p class="large_full">Une fois votre ou vos objets placés à votre guise, cliquez au milieu de la barre d'outils supérieure pour sélectionner le matériau dans lequel votre objet va être imprimé.</p>
        <img class="tuto" src="{{ url_for('static', filename='cura06.png') }}" alt="">

        <p class="large_full">Ensuite, il est temps de passer aux paramètres d'impression 3D. La première chose à régler est l'épaisseur de couche de l'impression. Plus l'épaisseur est importante, plus l'impression sera rapide, mais la finition sera plus imprécise. Pour un résultat plus net mais plus long à imprimer, choisissez une faible épaisseur de couche.</p>
        <img class="tuto" src="{{ url_for('static', filename='cura07.png') }}" alt="">

        <p class="large_full">Le deuxième paramètre important est le remplissage de l'objet. Plus celui-ci est dense, plus le temps d'impression est long, mais cela solidifie la pièce. Il n'est cependant absolument pas nécessaire de remplir complètement une pièce pour qu'elle soit solide. 20% de remplissage est une bonne valeur ous pouvez choisir différents motifs de remplissage, chacun ayant ses propriétés, dans le menu déroulant.</p>
        <img class="tuto" src="{{ url_for('static', filename='cura08.png') }}" alt="">

        <p class="large_full">Il est important de vérifier les températures d'impression&nbsp;: celle de la buse ainsi que celle du lit d'impression. Cura vous propose automatiquement des valeurs pour chaque type de matériau, mais tous les filaments ne correspondent pas exactement à ces températures standard. Si votre fil a du mal à être extrudé, augmentez la température de la buse. Si votre objet se décolle du lit pendant l'impression, essayez d'augmenter la température du plateau.</p>
        <img class="tuto" src="{{ url_for('static', filename='cura09.png') }}" alt="">

        <p class="large_full">Autre paramètre important&nbsp;: activer les supports. L'imprimante va imprimer un surplus de matière autour de l'objet lors de la première couche afin de garantir le bon maintien de l'objet sur le lit au cours de l'impression, mais aussi à placer correctement des parties de l'objet qui se trouvent plus en hauteur que le lit.</p>
        <img class="tuto" src="{{ url_for('static', filename='cura10.png') }}" alt="">

        <p class="large_full">Une fois que les paramètres d'impression sont bons, cliquez sur «&nbsp;Slice&nbsp;». Vous pouvez prévisualiser les couches de votre impression avant de sauver le fichier sur une carte SD ou une clé USB.</p>
        <img class="tuto" src="{{ url_for('static', filename='cura11.png') }}" alt="">



    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
