<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
      <ul id="menu">
        <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
        <li>Liens</li>

      </ul>

      <div class="print">
        <a href="/freecad09.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>CNC</p>
      </div>

      <div class="main full">
        <h3>Exporter un fichier GCODE depuis Freecad</h3>
        <p class="circuitb large_full">On peut utiliser Freecad pour modéliser et générer le fichier GCODE qui permettra l'usinage d'une pièce sur une fraiseuse à contrôle numérique.</p>

        <p class="large_full">On prendra pour exemple un pavé extrudé de 10 mm dont la face supérieure est ponctuée de trois trous et de trois poches. Une fois l'objet voulu modélisé dans l'atelier <span class="code">Part design</span>, on se déplace dans l'atelier <span class="code">Path</span>.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc59.png') }}" alt="">

        <p class="large_full">Il faut créer un <span class="code">Job</span> pour l'usinage en cliquant sur l'outil <span class="code">Create job</span>. Dans la première boîte de dialogue qui s'affiche, assurez-vous que le solide à usiner est bien sélectionné.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc60.png') }}" alt="">

        <p class="large_full">Ensuite, la boîte de dialogue dans le menu de gauche vous place dans l'onglet <span class="code">Setup</span> de votre <span class="code">Job</span>. On peut y déplacer l'origine de notre repère à l'aide des flèches en bas à gauche.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc61.png') }}" alt="">

        <p class="large_full">Rendez-vous dans l'onglet <span class="code">Tools</span> pour sélectionner l'outil qui procèdera à l'usinage. Une liste des outils déjà configurés apparaît alors.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc62.png') }}" alt="">

        <p class="large_full">Pour modifier les paramètres de l'outil, sélectionnez-le puis cliquez sur le bouton <span class="code">Edit</span>. C'est ici qu'on peut régler la vitesse de déplacement de l'outil ou encore son sens de rotation.</p>

        <img class="tuto" src="{{ url_for('static', filename='fc63.png') }}" alt="">

        <p class="large_full">Si vous souhaitez configurer un nouvel outil et l'ajouter à votre liste, cliquez sur <span class="code">Tool editor</span>. Une boîte de dialogue vous demande alors de renseigner le type de l'outil ainsi que ses cotes.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc69.png') }}" alt="">

        <p class="large_full">Une fois la première configuration du <span class="code">Job</span> faite, il faut déterminer les différentes actions de l'usinage. On commence par les découpes intérieures, les trois trous se trouvant en haut de la face supérieure de l'objet. Il faut les sélectionner en cliquant sur le fond ou bien sur l'intérieur de leur creux. Pour obtenir une découpe circulaire, il faut créer une tâche de type <span class="code">Helix</span>. Dans la boîte de dialogue qui s'affiche, vérifiez dans l'onglet <span class="code">Profondeurs</span> que les valeurs <span class="code">Start depth</span> et <span class="code">Final depth</span> correspondent bien pour la première à la hauteur de la pièce entière, et pour la deuxième à cette hauteur moins celle du creux des trous.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc64.png') }}" alt="">

        <p class="large_full">Il faut créer une autre tâche pour creuser les trois rectangles en bas de la face supérieure de l'objet. Pour ce type de creux non-circulaire, on utilise l'outil <span class="code">Create pocket shape</span> après avoir sélectionné les poches en cliquant sur leur fond ou bien sur l'intérieur de leur creux. Dans la boîte de dialogue à gauche, vérifiez également dans l'onglet <span class="code">Profondeurs</span> que les valeurs <span class="code">Start depth</span> et <span class="code">Final depth</span> correspondent bien pour la première à la hauteur de la pièce entière, et pour la deuxième à cette hauteur moins celle du creux des poches. Vous pouvez également choisir le motif et l'angle selon lequel le fraisage de la poche sera effectué.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc65.png') }}" alt="">

        <p class="large_full">La dernière tâche à ajouter est la découpe extérieure de la pièce. Pour cela, on utilise l'outil <span class="code">Create profile</span> qui va générer un chemin de découpe pour l'extérieur de la pièce.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc66.png') }}" alt="">

        <p class="large_full">Une fois toutes les tâches de l'usinage déterminées, on peut voir en rouge les déplacements de l'outil au-dessus de la pièce, et en vert les opérations de découpe.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc67.png') }}" alt="">

        <p class="large_full">Pour pré-visualiser le fraisage de la pièce, cliquez sur l'outil <span class="code">Simulate GCODE Path</span>. Vous pouvez alors voir l'ordre dans lequel vont se dérouler les opérations.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc68.png') }}" alt="">

        <p class="large_full">Si vous souhaitez vérifier le GCODE avant l'export du fichier, faîtes un clic-droit sur le <span class="code">Job</span> dans l'arborescence du projet et sélectionnez <span class="code">Inspect GCODE</span>.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc70.png') }}" alt="">

        <p class="large_full">Quand le fichier est prêt à être exporté, cliquez sur <span class="code">Job</span> dans l'arborescence du projet et choisissez dans la liste de sa sous-propriété <span class="code">Post Processor</span> (dans la propriété <span class="code">Output</span>) le post-processeur qui correspond au contrôleur de votre CNC. En effet Freecad utilise son propre dialecte de GCODE et le transcrit au moment de l'export en fonction du contrôleur. Une fois ce réglage fait, cliquez sur l'outil <span class="code">Post process</span> pour exporter le fichier GCODE vers la destination de votre choix.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc71.png') }}" alt="">


    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
