<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
      <ul id="menu">
        <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
        <li>Liens</li>

      </ul>

      <div class="print">
        <a href="/freecad03.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Impression 3D</p>
      </div>

      <div class="main full">
        <h3>Utiliser les opérations booléennes dans Freecad</h3>
        <p class="circuitb large_full">Freecad permet d'appliquer des opérations booléennes à différents objets 3D afin de les assembler, de ne garder que leur différence, ou encore de les fusionner.</p>

        <p class="large_full">On peut utiliser les opérations booléennes dans l'outil <span class="code">Part</span> de Freecad. Celles-ci se trouvent dans la barre d'outils supérieure de la fenêtre, elles sont représentées par deux sphères superposées.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc18.png') }}" alt="">

        <p class="large_full">Si vous avez créé un objet 3D dans l'outil <span class="code">Part design</span>, il se retrouvera dans l'outil <span class="code">Part</span>. Sinon, on peut créer directement des solides réguliers tels que des sphères, des cylindres, des cubes ou encore des cônes. en cliquant sur leurs icônes (en jaune dans le menu supérieur).</p>
        <img class="tuto" src="{{ url_for('static', filename='fc19.png') }}" alt="">

        <p class="large_full">Par défaut les objets 3D se retrouvent au milieu du repère. Pour déplacer l'un d'entre eux, il faut le sélectionner dans l'arborescence du projet, déplier la propriété <span class="code">Placement</span> dans le menu de gauche, sélectionner la sous-propriété <span class="code">Position</span>, et faire varier les valeurs <span class="code">x</span>, <span class="code">y</span> et <span class="code">z</span> pour le déplacer selon les différents axes du repère.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc20.png') }}" alt="">

        <p class="large_full">Pour réaliser une opération booléenne entre deux objets, il faut cliquer sur l'icône <span class="code">Create boolean operation</span>. Une boîte de dialogue s'ouvre alors dans le menu de gauche. L'ordre dans le quel vous sélectionnez les objets compte dans le résultat de l'opération booléenne, vous devez déterminer quelle est la première forme à traiter, puis la seconde en cochant les checkboxes dans <span class="code">First shape</span> et <span class="code">Second shape</span>. Il faut également sélectionner le type d'opération booléenne à réaliser entre <span class="code">Union</span>, <span class="code">Difference</span>, <span class="code">Intersection</span> et <span class="code">Section</span>.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc21.png') }}" alt="">

        <p class="large_full">Une fois l'opération faite, vous pouvez voir dans l'arborescence du projet que les deux objets 3D sont devenus un même objet portant le nom de l'opération bolléenne réalisée dessus.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc22.png') }}" alt="">

        <p class="large_full">Les opérations booléennes sont particulièrement utiles pour obtenir des croisements entre deux objets 3D qu'on ne pourrait pas avoir autrement. Par exemple si on place une sphère à l'intérieur d'un cube, on peut obtenir différents résultats selon l'opération booléenne effectuée et l'ordre des objets.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc23.png') }}" alt="">
        <img class="tuto" src="{{ url_for('static', filename='fc24.png') }}" alt="">
        <img class="tuto" src="{{ url_for('static', filename='fc25.png') }}" alt="">
        <img class="tuto" src="{{ url_for('static', filename='fc33.png') }}" alt="">
        <img class="tuto" src="{{ url_for('static', filename='fc34.png') }}" alt="">



    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
