<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
      <ul id="menu">
        <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
        <li>Liens</li>

      </ul>

      <div class="print">
        <a href="/freecad07.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Impression 3D</p>
      </div>

      <div class="main full">
        <h3>Faire des trous et des creux dans un solide avec Freecad</h3>
        <p class="circuitb large_full">Il est possible de retirer de la matière à des objets 3D grâce à des outils intégrés de Freecad.</p>

        <p class="large_full">À partir d'un solide modélisé un préalable, crééz un nouveau <span class="code">Sketch</span> sur la face à laquelle vous voulez retirer de la matière et dessinez-y la forme désirée. Une fois l'esquisse terminée, cliquez sur l'outil <span class="code">Create a pocket</span> de <span class="code">Part design</span>. Une boîte de dialogue dans le menu de gauche vous permet de déterminer la profondeur du creux dans la face du solide de base.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc44.png') }}" alt="">
        <img class="tuto" src="{{ url_for('static', filename='fc45.png') }}" alt="">

        <p class="large_full">Pour créer un trou dans la matière, le procédé est similaire&nbsp;: faîtes une nouvelle esquisse sur la face à creuser, quand l'esquisse est terminée cliquez sur <span class="code">Create a hole</span> dans <span class="code">Part design</span>. Vous pouvez choisir dans la boîte de dialogue le diamètre du trou ainsi que que sa profondeur.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc46.png') }}" alt="">
        <img class="tuto" src="{{ url_for('static', filename='fc47.png') }}" alt="">
        <img class="tuto" src="{{ url_for('static', filename='fc48.png') }}" alt="">


    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
