<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
      <ul id="menu">
        <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
        <li>Liens</li>

      </ul>

      <div class="print">
        <a href="/freecad06.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Impression 3D</p>
      </div>

      <div class="main full">
        <h3>Arrondis et chamfreins dans Freecad</h3>
        <p class="circuitb large_full">Les arrondis et les chamfreins permettent d'adoucir les angles d'objets modélisés en 3D. C'est particulièrement utile dans le cas d'objets à découper avec une CNC, afin de rendre l'objet fabriqué plus ergonomique.</p>

        <p class="large_full">Pour appliquer un arrondi sur une arête ou une face du solide, il faut la sélectionner en cliquant dessus, puis sélectionner l'outil <span class="code">Create fillet</span>. Une boîte de dialogue s'ouvre dans le menu de gauche, vous y déterminez le rayon de l'arrondi.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc40.png') }}" alt="">
        <img class="tuto" src="{{ url_for('static', filename='fc41.png') }}" alt="">

        <p class="large_full">Pour appliquer un chamfrein sur une autre arête, cliquez dessus puis sélectionnez l'outil <span class="code">Create chamfer</span>. De la même façon que pour l'arrondi, la boîte de dialogue dans le menu vous permet de choisir la longueur du chamfrein.</p>
        <img class="tuto" src="{{ url_for('static', filename='fc42.png') }}" alt="">
        <img class="tuto" src="{{ url_for('static', filename='fc43.png') }}" alt="">



    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
