<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>


    <div class="main">
      <p class="intro">Bienvenue sur le serveur local de Cityfab 2. Vous trouverez sur cette plateforme les ressources pédagogiques de tous nos workshops.</p>
      <div id="intro">
        <div class="grille">
          <p>Arduino</p>
          <img src="{{ url_for('static', filename='01.jpg') }}" alt="">
        </div>
        <div class="grille">
          <p>Raspberry Pi</p>
          <img src="{{ url_for('static', filename='06.jpg') }}" alt="">
        </div>
        <div class="grille">
          <p>Impression 3D</p>
          <img src="{{ url_for('static', filename='03.jpg') }}" alt="">
        </div>
        <div class="grille">
          <p>Découpe laser</p>
          <img src="{{ url_for('static', filename='02.jpg') }}" alt="">
        </div>
        <div class="grille">
          <p>CNC</p>
          <img src="{{ url_for('static', filename='04.jpg') }}" alt="">
        </div>
        <div class="grille">
          <p>Textile connecté</p>
          <img src="{{ url_for('static', filename='07.JPG') }}" alt="">
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
