<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
    <ul id="menu">
      <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
      <li>Liens</li>
    </ul>

      <div class="print">
        <a href="/arduino_moteur_cc.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Arduino</p>
      </div>

      <div class="main">
        <div id="onglets">
          <div id="onglet_circuit" onclick="circuitTop()">Circuit</div>
          <div id="onglet_code" onclick="codeTop()">Code Arduino</div>
        </div>
        <h3>Moteur à courant continu</h3>
        <p class="circuitb">Un moteur à courant continu est un moteur composé d'aimants et d'une bobine centrale qui tourne en présence de courant, ce qui met le moteur en action. Par convention ces moteurs possèdent un câble rouge et un noir (ou bleu) mais en réalité ces composants ne sont pas polarisés&nbsp;; l'ordre de branchement changera simplement le sens de rotation du moteur.</p>
        <div id="schemas">
          <img id="img_ard10" class="scheme" src="{{ url_for('static', filename='moteur_5V.svg') }}" alt="">
        </div>


        <p class="circuit">Il existe différentes façons de contrôler ce type de moteur selon ce que l'on veut faire, nous allons ici voir la plus basique.</p>
        <ol>
          <li>Il faut tout simplement connecter le moteur d'un côté à la broche digitale 9 de l'Arduino, et de l'autre côté au GROUND.</li>
        </ol>
        <div id="block_code">
          <p>Code Arduino n°1</p>
          <pre class="code_full">

  <span class="type">int</span> pinMoteur = 9;

  <span class="type">void</span> <span class="fonction">setup()</span>{
    <span class="fonction">pinMode</span>(pinMoteur, OUTPUT);
  }

  <span class="type">void</span> <span class="fonction">loop()</span>{
    <span class="fonction">digitalWrite</span>(pinMoteur,LOW);
    <span class="fonction">delay</span>(1000);
    <span class="fonction">digitalWrite</span>(pinMoteur,HIGH);
    <span class="fonction">delay</span>(1000);
  }

        </pre>
        <p style="page-break-before:always">Code Arduino n°2</p>
        <pre class="code_full">

  <span class="type">int</span> pinMoteur = 9;

  <span class="type">void</span> <span class="fonction">setup()</span> {
    <span class="fonction">pinMode</span>(pinMoteur,OUTPUT);
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
  }

  <span class="type">void</span> <span class="fonction">loop()</span> {
    <span class="type">int</span> valeur;
    <span class="type">for</span>(int pourcentage = 0;
    pourcentage <= 100;
    pourcentage += 25){
      <span class="type">for</span>(int pourcentage = 100;
      pourcentage = 0;
      pourcentage -= 25){
        valeur = <span class="fonction">map</span>(pourcentage,100,
        0,255,0);
        <span class="type">Serial</span>.<span class="fonction">println</span>(valeur);
        <span class="fonction">analogWrite</span>(pinMoteur,valeur);
        <span class="fonction">delay</span>(2000);
      }
      valeur = <span class="fonction">map</span>(pourcentage,0,100,
      0,255);
      <span class="type">Serial</span>.<span class="fonction">println</span>(valeur);
      <span class="fonction">analogWrite</span>(pinMoteur,valeur);
      <span class="fonction">delay</span>(2000);
    }
  }
        </pre>
      </div>

      <h4>LE CODE</h4>
      <h5>Version 1</h5>
      <pre>

  <span class="type">int</span> pinMoteur = 9;

  <span class="type">void</span> <span class="fonction">setup()</span>{
  <span class="fonction">pinMode</span>(pinMoteur, OUTPUT);
  }

  <span class="type">void</span> <span class="fonction">loop()</span>{
  <span class="fonction">digitalWrite</span>(pinMoteur,LOW);
  <span class="fonction">delay</span>(1000);
  <span class="fonction">digitalWrite</span>(pinMoteur,HIGH);
  <span class="fonction">delay</span>(1000);
  }

    </pre>
      <p>Avec ce script on fait alterner le moteur entre les états allumé et éteint. On déclare la pin 9 à laquelle est reliée le moteur comme un <span class="code">OUTPUT</span>, puis dans la <span class="code">loop()</span> on envoie alternativement un signal <span class="code">LOW</span> et un signal <span class="code">HIGH</span> au moteur à un intervalle de 1000 milli-secondes.</p>
      <p>Les broches digitales de l'Arduino marquées du symbole ~ ont la capacité de produire du courant alternatif (c'est-à-dire un courant dont le potentiel alterne en continu entre le potentiel maximal positif et le maximal négatif). On peut utiliser cette propriété pour faire accélérer et décélérer un moteur à courant continu de manière régulière.</p>


      <h5>Version 2</h5>
      <pre>

  <span class="type">int</span> pinMoteur = 9;

  <span class="type">void</span> <span class="fonction">setup()</span> {
    <span class="fonction">pinMode</span>(pinMoteur,OUTPUT);
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
  }

  <span class="type">void</span> <span class="fonction">loop()</span> {
    <span class="type">int</span> valeur;
    <span class="type">for</span>(int pourcentage = 0;
    pourcentage <= 100;
    pourcentage += 25){
      <span class="type">for</span>(int pourcentage = 100;
      pourcentage = 0;
      pourcentage -= 25){
        valeur = <span class="fonction">map</span>(pourcentage,100,0,
        255,0);
        <span class="type">Serial</span>.<span class="fonction">println</span>(valeur);
        <span class="fonction">analogWrite</span>(pinMoteur,valeur);
        <span class="fonction">delay</span>(2000);
      }
      valeur = <span class="fonction">map</span>(pourcentage,0,100,
      0,255);
      <span class="type">Serial</span>.<span class="fonction">println</span>(valeur);
      <span class="fonction">analogWrite</span>(pinMoteur,valeur);
      <span class="fonction">delay</span>(2000);
    }
  }
      </pre>
      <p>Si le début du script est similaire au précédent, la fonction <span class="code">loop()</span> varie considérablement. On utilise deux boucles <span class="code">for()</span> l'une dans l'autre pour monter de 0 à 100% puis de 100 à 0%&nbsp;; de cette façon nous créons un signal alternatif régulièrement progressif puis régressif. Toujours dans chacune des boucles, nous transposons le pourcentage du signal où nous nous trouvons vers une valeur comprise entre 0 et 255, que nous envoyons au moteur via la fonction <span class="code">analogWrite()</span>. Le fait de communiquer avec le moteur par le biais d'un signal analogique plutôt que digital nous permet de faire varier l'intensité du courant qui va l'alimenter, ce qui revient exactement à lui envoyer un courant alternatif.</p>
      <p>En faisant tourner le script, vous observerez que le moteur accélère progressivement jusqu'à sa vitesse maximum, puis redescend progressivement jusqu'à 0, et ainsi de suite.</p>
      <p>Dans ce projet nous alimentons le moteur avec les 5V de tension que peut fournir l'Arduino, cela fonctionne mais le moteur ne tourne pas très vite. Pour faire tourner le moteur à l'aide d'une tension plus importante il faudra séparer le circuit en deux, avec d'un côté le 5V et de l'autre la tension supérieure destinée au moteur.</p>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
