<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
    <ul id="menu">
      <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
      <li>Liens</li>
    </ul>

      <div class="print">
        <a href="/arduino_parallele.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Arduino</p>
      </div>


      <div class="main">
        <div class="morceau">
          <div class="debut">
            <h3>Montage en parallèle</h3>
            <p class="circuitb">À l'inverse d'un circuit monté en série, un circuit monté en parallèle relie indépendemment chaque composant à l'alimentation.</p>
            <ol>
              <li>Reliez la résistance de 220 Ω aux deux interrupteurs à la fois, puis connectez la sortie de chaque interrupteur à la LED.</li>
            </ol>
            <p class="circuit">Pressez un bouton puis l'autre, puis les deux en même temps et observez ce qu'il se passe. La LED s'allume dans tous les cas. C'est logique si on se penche sur le circuit&nbsp;: les deux boutons sont alimentés de manière indépendante et reliés à le LED, le courant peut donc trouver son chemin via un bouton ou l'autre. Les éléments sont indépendants de l'ordre du montage.</p>
          </div>
          <div id="schemas">
            <img id="img_ard02" class="scheme" src="{{ url_for('static', filename='parallele.svg') }}" alt="">
          </div>
        </div>






      </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
