<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
    <ul id="menu">
      <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
      <li>Liens</li>
    </ul>

      <div class="print">
        <a href="/arduino_potentiometre_servo.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Arduino</p>
      </div>

      <div class="main">
        <div id="onglets">
          <div id="onglet_circuit" onclick="circuitTop()">Circuit</div>
          <div id="onglet_code" onclick="codeTop()">Code Arduino</div>
        </div>
        <h3>Potentiomètre + servo moteur</h3>
        <p class="circuitb">Nous allons utiliser notre premier moteur, un servo. Ce type de moteur peut tourner sur un angle allant de 0 à 180°. L'IDE possède nativement une librairie pour contrôler les servo moteurs, qui nous permet de leur envoyer l'angle auquel nous voulons les voir tourner. Nous allons coupler le contrôle de notre moteur à un potentiomètre afin que l'angle du moteur soit proportionnel à la position du curseur du potentiomètre.</p>
        <div id="schemas">
          <img id="img_ard09" class="scheme" src="{{ url_for('static', filename='servopot.svg') }}" alt="">
        </div>

        <ol>
          <li>On connecte le potentiomètre au 5V et au GND ainsi que sa patte du milieu à la broche A0.</li>
          <li>N'oubliez pas d'ajouter un condensateur de 100µF entre les deux pattes reliées à l'alimentation du potentiomètre. Ces composants sont polarisés, la bande sérigraphiée indique le côté négatif. Un condensateur est un composant qui stocke de l'énergie&nbsp;: il se charge de courant puis le relaĉhe quand il a atteint sa capacité maximale. Dans notre circuit, les condensateurs serviront à lisser les signaux électriques du côté du potentiomètre et du servo moteur.</li>
          <li>Reliez le câble rouge du servo au 5V et le noir au GND, avec un condensateur de 100µF reliant les deux. Le troisième câble doit être relié à la broche digitale 9 de l'Arduino.</li>
        </ol>

        <div id="block_code">
          <p>Code Arduino</p>
          <pre class="code_full">

  <span class="type">#include</span> &lt;Servo.h&gt;

  <span class="type">Servo</span> myServo;

  <span class="type">int const</span> potPin = A0;
  <span class="type">int</span> potVal;
  <span class="type">int</span> angle;

  <span class="type">void</span> <span class="fonction">setup()</span> {
    myServo.<span class="fonction">attach</span>(9);
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
  }

  <span class="type">void</span> <span class="fonction">loop()</span> {
    potVal = <span class="fonction">analogRead</span>(potPin);
    <span class="type">Serial</span>.<span class="fonction">print</span>("Valeur potentiomètre : ");
    <span class="type">Serial</span>.<span class="fonction">print</span>(potVal);
    angle = <span class="fonction">map</span>(potVal, 0, 1023, 0, 179);
    <span class="type">Serial</span>.<span class="fonction">println</span>(". Angle : ");
    <span class="type">Serial</span>.<span class="fonction">println</span>(angle);
    myServo.<span class="fonction">write</span>(angle);
    <span class="fonction">delay</span>(15);
  }

        </pre>
      </div>

      <h4>LE CODE</h4>
      <pre>

  <span class="type">#include</span> &lt;Servo.h&gt;

  <span class="type">Servo</span> myServo;

  <span class="type">int const</span> potPin = A0;
  <span class="type">int</span> potVal;
  <span class="type">int</span> angle;
      </pre>
      <p>Pour contrôler un servo moteur, la librairie <span class="code">Servo</span> nous fournit les méthodes dont nous allons avoir besoin. L'appel d'une librairie se fait grâce au mot-clé <span class="code">#include</span>, suivi du nom de fichier de la librairie (on peut faire l'import depuis l'IDE Arduino, dans l'onglet Croquis &gt; Inclure une bibliothèque). Ensuite pour associer la librairie <span class="code">Servo</span> à notre moteur branché sur l'Arduino, nous créons un objet <span class="code">Servo myServo;</span> grâce auquel nous pouvons appliquer les méthodes de la librairie au moteur. Enfin nous initialisons la variable de la pin du potentiomètre et créons deux variables qui stockeront respectivement la valeur envoyée par le potentiomètre et l'angle du servo.</p>
      <pre>

  <span class="type">void</span> <span class="fonction">setup()</span> {
    myServo.<span class="fonction">attach</span>(9);
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
  }
      </pre>
      <p>Utiliser un servo requiert que nous initialisions la broche du servo dans le <span class="code">setup()</span> à l'aide de la fonction <span class="code">myServo.attach()</span>, où le numéro entre parenthèse est celui de la pin relié au câble de signel du moteur.</p>
      <pre>

  <span class="type">void</span> <span class="fonction">loop()</span> {
    potVal = <span class="fonction">analogRead</span>(potPin);
    <span class="type">Serial</span>.<span class="fonction">print</span>("Valeur potentiomètre : ");
    <span class="type">Serial</span>.<span class="fonction">print</span>(potVal);
    angle = <span class="fonction">map</span>(potVal, 0, 1023, 0, 179);
    <span class="type">Serial</span>.<span class="fonction">println</span>(". Angle : ");
    <span class="type">Serial</span>.<span class="fonction">println</span>(angle);
    myServo.<span class="fonction">write</span>(angle);
    <span class="fonction">delay</span>(15);
  }
      </pre>
      <p>Le corps du script consiste à lire en continu la valeur envoyée par le potentiomètre et à transposer celle-ci de sa valeur analogique comprise entre 0 et 1024 vers un angle possible pour le servo, entre 0 et 180. Nous réalisons cette opération grâce à la fonction <span class="code">map()</span>. Cet angle compréhensible par le moteur étant stocké dans la variable <span class="code">angle</span>, nous envoyons l'ordre au servo de se positionner à cet angle avec la fonction <span class="code">myServo.write(angle)</span>.</p>
      <p>Chargez le script sur l'Arduino et observez comment bouge le moteur lorsque vous faîtes varier le potentiomètre.</p>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
