<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
      <ul id="menu">
        <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
        <li>Liens</li>

      </ul>

      <div class="print">
        <a href="/rpi_servo.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Raspberry Pi</p>
      </div>

      <div class="main">
        <h3>Contrôler un servo moteur</h3>
        <p class="circuitb">Basiquement, les broches GPIO d'un Raspberry Pi sont des broches digitales&nbsp;; c'est-à-dire qu'elles ne peuvent lire et recevoir que des signaux électriques valant 0 ou 1. Cependant il existe un moyen d'obtenir tout l'éventail de valeurs comprises entre la tension minimale et la maximale en jouant sur la fréquence d'un courant&nbsp;: le PWM (Pulse Width Modulation). Avec le PWM on peut obtenir des valeurs autres que simplement 0 ou 1, Vrai ou Faux, on a accès a toutes les variations intermédiaires. Cela nous permet par exemple de contrôler un servo moteur en lui envoyant différents angles.</p>
        <div id="schemas"><img id="img_rpi09" class="scheme" src="{{ url_for('static', filename='rpi_servo.svg') }}" alt=""></div>
        <div id="onglets">
          <div id="onglet_code" onclick="codeTop()">Script Python</div>
          <div id="onglet_circuit" onclick="circuitTop()">Circuit</div>
        </div>

        <ol>
          <li>Le circuit est simple&nbsp;: branchez le câble rouge du servo à une broche 5V du Raspberry, son câble noir à une broche GROUND, et son câble central à la broche 3 (en mode BOARD).</li>
        </ol>

        <div id="block_code">
          <p>Script Python</p>
          <pre class="code_full">

  <span class="type">import</span> <span class="fonction">RPi.GPIO</span> <span class="type">as</span> GPIO
  <span class="type">from</span> time <span class="type">import</span> sleep

  GPIO.<span class="fonction">setmode</span>(GPIO.BOARD)
  GPIO.<span class="fonction">setup</span>(03, GPIO.OUT)
  pwm=GPIO.<span class="fonction">PWM</span>(03, 50)
  pwm.<span class="fonction">start</span>(0)

  <span class="type">def</span> <span class="fonction">SetAngle</span>(angle):
      duty = angle / 18 + 2
      GPIO.<span class="fonction">output</span>(03, <span class="type">True</span>)
      pwm.<span class="fonction">ChangeDutyCycle</span>(duty)
      <span class="fonction">sleep</span>(1)
      GPIO.<span class="fonction">output</span>(03, <span class="type">False</span>)
      pwm.<span class="fonction">ChangeDutyCycle</span>(0)

  question = <span class="fonction">int</span>(<span class="fonction">input</span>("Angle : "))
  <span class="fonction">SetAngle</span>(question)

  pwm.<span class="fonction">stop()</span>

  GPIO.<span class="fonction">cleanup()</span>

        </pre>
      </div>

      <h4>LE CODE</h4>
        <pre>

  <span class="type">import</span> <span class="fonction">RPi.GPIO</span> <span class="type">as</span> GPIO
  <span class="type">from</span> time <span class="type">import</span> sleep

  GPIO.<span class="fonction">setmode</span>(GPIO.BOARD)
  GPIO.<span class="fonction">setup</span>(03, GPIO.OUT)
  pwm=GPIO.<span class="fonction">PWM</span>(03, 50)
  pwm.<span class="fonction">start</span>(0)

        </pre>
        <p>On commence par faire appel aux deux modules dont nous allons avoir besoin&nbsp;: <span class="code">RPi.GPIO</span> (pour interagir avec les broches GPIO) et la fonction <span class="code">sleep</span> du module <span class="code">time</span> pour pouvoir exprimer des délais temporels.</p>
        <p>Ensuite on détermine le mode des broches sur BOARD&nbsp;: <span class="code">GPIO.setmode(GPIO.BOARD)</span>, et on initialise la broche à laquelle est reliée le servo moteur avec <span class="code">GPIO.setup(03, GPIO.OUT)</span>. Cette broche doit fonctionner en mode PWM pour pouvoir envoyer un angle précis au moteur. On fait cela avec la ligne <span class="code">pwm=GPIO.PWM(03, 50))</span>, le premier argument étant la broche et le second la fréquence du signal. Il faut ensuite démarrer la broche en mode PWM  à la fréquence 0 avec la ligne <span class="code">pwm.start(0)</span>.</p>
        <pre>

  <span class="type">def</span> <span class="fonction">SetAngle</span>(angle):
      duty = angle / 18 + 2
      GPIO.<span class="fonction">output</span>(03, <span class="type">True</span>)
      pwm.<span class="fonction">ChangeDutyCycle</span>(duty)
      <span class="fonction">sleep</span>(1)
      GPIO.<span class="fonction">output</span>(03, <span class="type">False</span>)
      pwm.<span class="fonction">ChangeDutyCycle</span>(0)
        </pre>
        <p>La fonction <span class="code">setAngle()</span> va gérer l'envoi de l'angle souhaité au servo moteur. En l'occurrence, cette fonction va moduler l'intensité du courant passé au moteur pour qu'il se déplace comme on le souhaite. Cette fonction prend un argument, <span class="code">angle</span>, qu'on lui passe quand on l'appelle. La variable <span class="code">duty</span> convertit la valeur d'<span class="code">angle</span> en une fréquence modulée. Puis on envoie du courant dans la broche du servo (<span class="code">GPIO.output(03, True)</span>), et juste après on module la fréquence de ce courant avec la valeur qui vient d'être calculée (<span class="code">pwm.ChangeDutyCycle(duty)</span>), et cette action prend 1 seconde.</p>
        <p>Après cette seconde, on stoppe l'envoi de courant dans le servo (<span class="code">GPIO.output(03, False)</span>) et on remet sa fréquence à 0 (<span class="code">pwm.ChangeDutyCycle(0)</span>). De cette façon on fait bouger le servo moteur selon l'angle passé à la fonction.</p>
        <pre>

  question = <span class="fonction">int</span>(<span class="fonction">input</span>("Angle : "))
  <span class="fonction">SetAngle</span>(question)

  pwm.<span class="fonction">stop()</span>

  GPIO.<span class="fonction">cleanup()</span>
        </pre>
        <p>Afin de faciliter l'envoi de l'angle souhaité au servo, nous demandons à l'utilisateur de taper la valeur de l'angle dans le terminal quand il lance le script. La ligne <span class="code">question = int(input("Angle : "))</span> récupère dans la variable <span class="code">question</span> l'angle tapé par l'utilisateur et le convertit en nombre entier. Puis on appelle la fonction <span class="code">setAngle()</span> en lui passant comme argument <span class="code">question</span>&nbsp;; ainsi l'utilisateur choisit directement la valeur à passer à la fonction.</p>
        <p>Une fois cela fait, vous allez observer un mouvement du servo qui correspond à l'angle demandé. Du côté du script, on stoppe le mode PWM sur la broche du servo avec <span class="code">pwm.stop()</span>. Enfin on termine proprement le script avec la ligne <span class="code">GPIO.cleanup()</span> qui réinitialise les broches utilisées dans le script (cela est utile dans le cas où vous modifieriez le branchement sur les broches avant d'avoir lancé un autre script, afin de s'assurer par exemple que du courant ne sera pas envoyé inopinément dans l'une d'elles).</p>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
