<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
    <ul id="menu">
      <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
      <li>Liens</li>
    </ul>

      <div class="print">
        <a href="/arduino_serie.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Arduino</p>
      </div>


      <div class="main">

        <div class="morceau">
          <div class="debut">
            <h3>Montage en série</h3>
            <p class="circuitb">Avant de commencer à programmer avec l'Arduino, voyons les rudiments de l'électronique. Un circuit monté en série rend les composants dépendants les uns des autres et de l'ordre dans lequel ils sont placés. Dans ce premier circuit, nous allons utiliser l'Arduino comme source d'alimentation.</p>
            <ol>
              <li>On commence par brancher le 5V et le GND de l'Arduino à la breadboard pour l'alimenter.</li>
              <li>Ensuite on place une résistance de 220 Ω entre le 5V et le premier bouton. Reliez la sortie du premier bouton à l'entrée du second.</li>
              <li>Puis reliez la sortie du second bouton à l'anode (patte la plus longue) de la LED.</li>
              <li>Enfin reliez l'autre patte de la LED au GND.</li>
            </ol>
            <p class="circuit">Pressez chaque bouton séparément et observez ce qu'il se passe. Pressez ensuite les deux boutons en même temps. La LED s'allume seulement dans ce cas. C'est normal puisque le circuit est monté en série : le courant ne circule vers le deuxième interrupteur que si le premier est pressé, et vers la LED que si les deux interrupteurs sont pressés. Les éléments sont donc bien dépendants de l'ordre du montage.</p>
          </div>

          <div id="schemas">
            <img id="img_ard01" class="scheme" src="{{ url_for('static', filename='serie.svg') }}" alt="">
          </div>
        </div>





      </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
