<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
      <ul id="menu">
        <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
        <li>Liens</li>

      </ul>

      <div class="print">
        <a href="/rpi_tweeter.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Raspberry Pi</p>
      </div>

      <div class="main full">

        <div id="onglets">
          <div id="onglet_code" onclick="codeTop()">send_tweet.py</div>
        </div>
        <h3>Tweeter en ligne de commande</h3>
        <p class="circuitb">Il existe des modules Python permettant d'agir sur Twitter à partir d'un simple script. Nous allons voir comment faire avec l'un deux, Twython.</p>

        <div id="block_code">
          <p>Script Python</p>
          <pre class="code_full">

  #!/usr/bin/env python
  <span class="type">import</span> sys
  <span class="type">from</span> twython <span class="type">import</span> Twython

  CONSUMER_KEY = '****'
  CONSUMER_SECRET = '****'
  ACCESS_KEY = '****'
  ACCESS_SECRET = '****'

  api = <span class="fonction">Twython</span>(CONSUMER_KEY,CONSUMER_SECRET,\
  ACCESS_KEY,ACCESS_SECRET)

  api.<span class="fonction">update_status</span>(status=sys.argv[1])

        </pre>
      </div>

      <h4>LE CODE</h4>
      <pre>

  #!/usr/bin/env python
  <span class="type">import</span> sys
  <span class="type">from</span> twython <span class="type">import</span> Twython
      </pre>
      <p>Étant donné que ce script sera exécuté dans un terminal, il est une bonne pratique de débuter un script Python par la ligne <span class="code">#!/usr/bin/env python</span> afin que le terminal sache bien qu'il doit faire appel à l'interpréteur Python. On importe ensuite les deux modules dont on va avoir besoin&nbsp;: <span class="code">sys</span>, qui va nous permettre de travailler avec les arguments passés dans le terminal à l'appel de la fonction, et <span class="code">Twython</span>, le gestionnaire d'API Twitter à proprement parler.</p>

      <pre>

  CONSUMER_KEY = '****'
  CONSUMER_SECRET = '****'
  ACCESS_KEY = '****'
  ACCESS_SECRET = '****'

  api = <span class="fonction">Twython</span>(CONSUMER_KEY,CONSUMER_SECRET,\
  ACCESS_KEY,ACCESS_SECRET)
      </pre>
      <p>Les valeurs des variables <span class="code">CONSUMER_KEY</span>, <span class="code">CONSUMER_SECRET</span>, <span class="code">ACCESS_KEY</span> et <span class="code">ACCESS_SECRET</span> sont 4 clés que vous obtenez lorsque vous créez un compte développeur auprès de Twitter et créez une API. Gardez-les bien secrets sinon d'autres personnes pourront utiliser votre compte Twitter. On utilise donc ces 4 clés pour crééer l'objet <span class="code">Twython()</span> qui va ainsi pouvoir se connecter au réseau social.</p>

      <pre>

  api.<span class="fonction">update_status</span>(status=sys.argv[1])
      </pre>
      <p>La dernière ligne du script tweete sur le compte auquel vous venez de vous authentifier à l'aide de la fonction <span class="code">update_status</span>. Son paramètre est <span class="code">status=sys.argv[1]</span>, ce qui signifie que le contenu du tweet sera le premier argument passé après le nom du script lorsque vous l'appelez dans un terminal. Pour tweeter, tapez dans un terminal la commande&nbsp;: <span class="code">send_tweet.py "Ceci est mon tweet"</span></p>

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
