<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
      <ul id="menu">
        <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
        <li>Liens</li>

      </ul>

      <div class="print">
        <a href="/rpi_video.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Raspberry Pi</p>
      </div>

      <div class="main full">
        <h3>Lancer une vidéo à distance</h3>
        <p class="circuitb large_full">Une fois connecté en SSH au Raspberry Pi, vous pouvez contrôler ses actions à distance soit à l'aide scripts Python, soit en ligne de commande.</p>

        <h4>LE CODE</h4>
        <p>Pour lancer une vidéo, déplacez-vous dans le dossier où se trouve la vidéo que vous souhaitez lire à l'aide de la commande <span class="code">cd</span> et entrez dans le terminal&nbsp;:</p>
        <pre class="command">

  <span class="type">omxplayer</span> mavideo.mp4
        </pre>
        <p class="large_full">Omxplayer est le lecteur vidéo installé par défaut sur les Raspberry Pi. Il présente l'avantage de pouvoir être lancé sans avoir nécessairement de session de bureau ouverte avec Raspberry Pi OS. Pour lancer la vidéo en boucle et sans affichage de ses statuts, la commande est la suivante&nbsp;:</p>
        <pre class="command">

  <span class="type">omxplayer</span> --loop --no-osd mavideo.mp4
        </pre>
        <p class="large_full">Omxplayer présente tout un ensemble d'autres options que l'on peut retrouver sur <a href="https://www.raspberrypi.org/documentation/raspbian/applications/omxplayer.md">cette page</a>.</p>



    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
